<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= content_for?(:title) ? yield(:title) : "Clincian" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Clincian" %>">
    <%= csrf_meta_tags %>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= favicon_link_tag 'BlockMD.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= yield %>
    </main>
  </body>
</html>
